##### Install pyspark
##### Import and Create SparkSession
##### Read Data from .csv file
##### Create and Add view/table to the spark(Object created from SparkSession).
#####

In [10]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [11]:
import pyspark

In [12]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName('PysparkApp').getOrCreate()

In [14]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7e7d802bf400>



---


### Reading data from .csv file


---

In [15]:
df = spark.read.csv('Region_Master.csv', header=True, inferSchema=True)

In [16]:
df.show()

+------+--------------------+
|REG_NO|         REGION_DESC|
+------+--------------------+
|     1|       1-DKI Jakarta|
|     2|        2-Jawa Barat|
|     3|3-Jawa Timur\x09 ...|
|     4|4-Sulawesi\x09 Ma...|
|     5|        5-Kalimantan|
|     6|          6-Sumatera|
|     7|7-Jawa Tengah dan...|
|     8|                0-HO|
+------+--------------------+



---


### Creating and Adding view to the spark object.



---

In [17]:
df.createOrReplaceTempView('df_view')
result = spark.sql('select * from df_view')
result.show()

+------+--------------------+
|REG_NO|         REGION_DESC|
+------+--------------------+
|     1|       1-DKI Jakarta|
|     2|        2-Jawa Barat|
|     3|3-Jawa Timur\x09 ...|
|     4|4-Sulawesi\x09 Ma...|
|     5|        5-Kalimantan|
|     6|          6-Sumatera|
|     7|7-Jawa Tengah dan...|
|     8|                0-HO|
+------+--------------------+

In [18]:
tables = spark.catalog.listTables()
for table in tables:
  print(table)

Table(name='df_view', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)

In [19]:
#Manipulating ceated view using sql query
query = 'select * from df_view where reg_no%2=0'
output = spark.sql(query)
output.show()   #type(output) ->pyspark.sql.dataframe.DataFrame

+------+--------------------+
|REG_NO|         REGION_DESC|
+------+--------------------+
|     2|        2-Jawa Barat|
|     4|4-Sulawesi\x09 Ma...|
|     6|          6-Sumatera|
|     8|                0-HO|
+------+--------------------+

In [20]:
type(output)

pyspark.sql.dataframe.DataFrame



---


##### Spark DataFrame to Pandas DataFrame


---

In [21]:
pandasDF = output.toPandas()
pandasDF

   REG_NO                      REGION_DESC
0       2                     2-Jawa Barat
1       4  4-Sulawesi\x09 Maluku dan Papua
2       6                       6-Sumatera
3       8                             0-HO



---


##### Spark DataFrame to Pandas DataFrame


---

In [22]:
#PandasDF (variable) already converted in pandas dataframe, we'll use it here.
pysparkDF = spark.createDataFrame(pandasDF)
# type(pysparkDF)   #pyspark.sql.dataframe.DataFrame
pysparkDF.show()

+------+--------------------+
|REG_NO|         REGION_DESC|
+------+--------------------+
|     2|        2-Jawa Barat|
|     4|4-Sulawesi\x09 Ma...|
|     6|          6-Sumatera|
|     8|                0-HO|
+------+--------------------+



---


### Adding Columns


---

In [23]:
data = spark.read.csv('Region_Master.csv', header=True, inferSchema=True)
data.show()

+------+--------------------+
|REG_NO|         REGION_DESC|
+------+--------------------+
|     1|       1-DKI Jakarta|
|     2|        2-Jawa Barat|
|     3|3-Jawa Timur\x09 ...|
|     4|4-Sulawesi\x09 Ma...|
|     5|        5-Kalimantan|
|     6|          6-Sumatera|
|     7|7-Jawa Tengah dan...|
|     8|                0-HO|
+------+--------------------+

In [24]:
#Adding Column
data.withColumn('new_col', data['reg_no']*10).show()

+------+--------------------+-------+
|REG_NO|         REGION_DESC|new_col|
+------+--------------------+-------+
|     1|       1-DKI Jakarta|     10|
|     2|        2-Jawa Barat|     20|
|     3|3-Jawa Timur\x09 ...|     30|
|     4|4-Sulawesi\x09 Ma...|     40|
|     5|        5-Kalimantan|     50|
|     6|          6-Sumatera|     60|
|     7|7-Jawa Tengah dan...|     70|
|     8|                0-HO|     80|
+------+--------------------+-------+

In [25]:
def new_col_value(val):
  return 'yes' if val%2==0 else 'no'

In [32]:
# spark.catalog.listTables()    #[Table(name='df_view', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

def new_col_value(val):
  return ('yes' if val%2==0 else 'no')


if __name__=='__main__':
  tables = spark.table('df_view')
  tables.show()
  tables.withColumn('new column', new_col_value(tables['REG_NO'])).show()

+------+--------------------+
|REG_NO|         REGION_DESC|
+------+--------------------+
|     1|       1-DKI Jakarta|
|     2|        2-Jawa Barat|
|     3|3-Jawa Timur\x09 ...|
|     4|4-Sulawesi\x09 Ma...|
|     5|        5-Kalimantan|
|     6|          6-Sumatera|
|     7|7-Jawa Tengah dan...|
|     8|                0-HO|
+------+--------------------+

PySparkValueError: ignored

In [30]:
from pyspark.sql.functions import when

def new_col_value(val):
    return when(val % 2 == 0, 'yes').otherwise('no')

if __name__ == '__main__':
    tables = spark.table('df_view')
    tables.show()
    tables.withColumn('new column', new_col_value(tables['REG_NO'])).show()

+------+--------------------+
|REG_NO|         REGION_DESC|
+------+--------------------+
|     1|       1-DKI Jakarta|
|     2|        2-Jawa Barat|
|     3|3-Jawa Timur\x09 ...|
|     4|4-Sulawesi\x09 Ma...|
|     5|        5-Kalimantan|
|     6|          6-Sumatera|
|     7|7-Jawa Tengah dan...|
|     8|                0-HO|
+------+--------------------+

+------+--------------------+----------+
|REG_NO|         REGION_DESC|new column|
+------+--------------------+----------+
|     1|       1-DKI Jakarta|        no|
|     2|        2-Jawa Barat|       yes|
|     3|3-Jawa Timur\x09 ...|        no|
|     4|4-Sulawesi\x09 Ma...|       yes|
|     5|        5-Kalimantan|        no|
|     6|          6-Sumatera|       yes|
|     7|7-Jawa Tengah dan...|        no|
|     8|                0-HO|       yes|
+------+--------------------+----------+

In [34]:
print(type(input()))

13
<class 'str'>



---



---

In [ ]:
readdf=spark.read.format("jdbc").option("url","jdbc:oracle:thin:@blrtrnorcldb001.fintellix.com:1521:ORCLCDB").\
option("dbtable",'emp').\
option("user","i41621").\
option("password","Welcome1").\
option("driver","oracle.jdbc.driver.OracleDriver").\
load()

Py4JJavaError: ignored

In [ ]:
df = spark.read.csv('data.csv', header=True)

In [ ]:
df.show()

+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|PRODUCT_INSTANCE_BKEY|IDENTITY_CODE|AS_OF_DATE|ISO_CURRENCY_CD|AMRT_TERM|AMRT_TERM_MULT|BRANCH_CD|  CIF_KEY|CUR_BOOK_BAL|DATA_SOURCE|GEOGRAPHIC_LOC_CD|LAST_PAYMENT_DATE|LAST_REPRICE_DATE|MARKET_SEGMENT_CD|MATURITY_DATE|OPEN_ACCOUNT_FLG|ORG_BOOK_BAL|ORIGINATION_DATE|REMAIN_TERM_C|REMAIN_TERM_MULT_C|ISSUE_DATE|BDI_LOB_XSELL|CUSTOMER_ID|SERVICE_OUTLET_BKEY|PRODUCT_TYPE_BKEY|Prod_Sub_Type_Code|ACCOUNT_OFFICER|ACCOUNT_OPEN_DATE|AVG_Monthly_BAL|Accrued Interest|Debit_Interest|Unpaid_Item_charge|Min_Bal_Required|Account_type|OverDraft_Status_Ind|Account_Maintenance_Fee|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|      CH-865526978524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    32000| 33843933|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|17-04-2012|            0|     112655|               3200|             DEMD|              SAVG|          RM-71|       27-03-1997|         406468|        16258.72|     2276.2208|       2003.074304|           10000|     Savings|                  OD|               325.1744|
|      CH-235839978594|     20131129|29-11-2013|            IDR|     NULL|          NULL|    36800| 33605955|      269500|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|      269500|      29-11-2013|           33|                 D|24-10-2013|            0|     103763|               3680|             DEMD|              SAVG|          RM-56|       15-11-1999|         418251|        16730.04|     2174.9052|        2066.15994|           10000|     Savings|                NULL|               334.6008|
|      CH-965554688564|     20131129|29-11-2013|            IDR|     NULL|          NULL|    87281| 33877991| 7001535.222|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               1| 7001535.222|      29-11-2013|           33|                 D|03-05-2012|            0|     113907|               8728|             DEMD|              SAVG|          RM-65|       28-07-1997|         480759|         9615.18|     1153.8216|        969.210144|           10000|     Savings|                NULL|               384.6072|
|      CH-465554778554|     20131129|29-11-2013|            IDR|     NULL|          NULL|    70200| 33837931|           0|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|03-05-2012|            0|     112472|               7020|             DEMD|              SAVG|          RM-46|       13-07-2006|         188821|         7552.84|     1057.3976|        962.231816|           10000|     Savings|                NULL|               151.0568|
|      CH-42551738004.|     20131129|29-11-2013|            IDR|     NULL|          NULL|    60500| 23691941|  4985825841|         11|                6|             NULL|       29-11-2013|               13|   01-01-2014|               1|  4985825841|      29-11-2013|           33|                 D|13-05-2004|            0|      57422|               6050|             DEMD|              SAVG|           RM-7|       28-01-2010|         279090|          2790.9|       334.908|         277.97364|           10000|     Savings|                NULL|                223.272|
|      CH-685626348524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    20900| 33912975|           0|         11|                2|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|29-05-2012|            0|     115239|               2090|             DEMD|              SAVG|          RM-45|       15-10-2006|         344619|        17230.95|     1895.4045|        1743.77214|           10000|     Savings|                  OD|               275.6952|
|      CH-182047308024|     20131129|29-11-2013|            IDR|     NULL|          NULL|    52600|123343954|           0|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|18-06-2008|            0|     147348|               5260|             DEMD|              SAVG|          RM-52|       21-11-2010|          64482|         1289.64|       193.446|         160.56018|           10000|     Savings|                NULL|                51.5856|
|      CH-195658628504|     20131129|29-11-2013|            IDR|     NULL|          NULL|    10400| 33948921|   31695.686|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               2|   31695.686|      29-11-2013|           33|                 D|22-06-2012|            0|     116482|               1040|             DEMD|              SAVG|          RM-25|       25-05-2000|          57543|         2301.72|       230.172|         193.34448|           10000|     Savings|                NULL|                46.0344|
|      CH-585643478504|     20131129|29-11-2013|            IDR|     NULL|          NULL|    36900| 33935938|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|13-06-2012|            0|     116024|               3690|             DEMD|              SAVG|           RM-2|       12-07-1998|         100347|         3010.41|      391.3533|        340.477371|           10000|     Savings|                  OD|                80.2776|
|      CH-195664158584|     20131129|29-11-2013|            IDR|     NULL|          NULL|     1600| 33970958| 24487259.29|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1| 24487259.29|      29-11-2013|           33|                 D|04-07-2012|            0|     117299|               1600|             DEMD|              SAVG|          RM-54|       05-07-2000|         152659|         7632.95|      839.6245|         688.49209|           10000|     Savings|                NULL|               122.1272|
|      CH-705651228504|     20131129|29-11-2013|            IDR|     NULL|          NULL|     3600| 33064921|  362684.267|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  362684.267|      29-11-2013|           33|                 D|18-07-2012|            0|      82954|               3600|             DEMD|              SAVG|          RM-15|       18-11-2004|         400265|         16010.6|       1601.06|         1504.9964|           10000|     Savings|                NULL|                320.212|
|      CH-985719648554|     20131129|29-11-2013|            IDR|     NULL|          NULL|    65400| 33331942| 8021376.022|         11|                6|             NULL|       29-11-2013|               12|   01-01-2014|               1| 8021376.022|      29-11-2013|           33|                 D|21-12-2012|            0|      93520|               6540|             DEMD|              SAVG|          RM-40|       16-01-1998|         117321|         3519.63|      457.5519|        370.617039|           10000|     Savings|                NULL|                93.8568|
|      CH-212637268054|     20131129|29-11-2013|            IDR|     NULL|          NULL|    73600|123293959|  314554.196|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|  314554.196|      29-11-2013|           33|                 D|11-04-2005|            0|     143166|               7360|             DEMD|              SAVG|          RM-52|       11-01-1997|         292018|         2920.18|       438.027|         381.08349|           10000|     Savings|                NULL|               233.6144|
|      CH-652289318094|     20131129|29-11-2013|            IDR|     NULL|          NULL|     2200| 23554921|  240450.694|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  240450.694|      29-11-2013|           33|                 D|04-10-2000|            0|      45481|               2200|             DEMD|              SAVG|          RM-74|       07-04-1999|         147081|         1470.81|       147.081|         133.84371|           10000|     Savings|                NULL|               117.6648|
|      CH-815779338584|     20131129|29-11-2013|            IDR|     NULL|          NULL|    37600| 33595976|  353355.442|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|  13-06-2867|      29-11-2013|           33|                 D|28-02-2013|            0|     103363|               3760|             DEMD|              SAVG|          RM-68|       19-05-2002|         492071|        19682.84|      2952.426|        2598.13488|           10000|     Savings|                NULL|               393.6568|
|      CH-615775048544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    52900| 33523997|   60368.594|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               1|   60368.594|      29-11-2013|           33|                 D|20-02-2013|            0|     100741|               5290|             DEMD|              SAVG|          RM-97|       09-02-2004|         209251|         4185.02|      460.3522|         437.33459|           10000|     Savings|                NULL|               167.4008|
|      CH-425795818524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    42900| 33598936|   13267.122|         11|                4|             NULL|       29-11-2013|               12|   01-01-2014|               1|   13267.122|      29-11-2013|           33|                 D|13-03-2013|            0|     103463|               4290|             DEMD|              SAVG|          RM-83|       17-06-2013|         161368|         6454.72|       968.208|         803.61264|           10000|     Savings|                NULL|               129.0944|
|      CH-895721348584|     20131129|29-11-2013|            IDR|     NULL|          NULL|    38500| 33436928|   234942.18|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|   234942.18|      29-11-2013|           33|                 D|21-01-2013|            0|      97472|               3850|             DEMD|              SAVG|           RM-5|       21-08-2013|         452844|         4528.44|      588.6972|        547.488396|           10000|     Savings|                NULL|               362.2752|
|      CH-905737608584|     20131129|29-11-2013|            IDR|     NULL|          NULL|     3500| 33409966|   73923.333|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|   73923.333|      29-11-2013|           33|                 D|04-02-2013|            0|      96483|               3500|             DEMD|              SAVG|           RM-1|       02-03-2003|         341444|         6828.88|      751.1768|        608.453208|           10000|     Savings|                NULL|               273.1552|
|      CH-715755148544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    30400| 33503976|   27787.529|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|   27787.529|      29-11-2013|           33|                 D|20-02-2013|            0|     100068|               3040|             DEMD|              SAVG|          RM-89|       14-08-2003|         150105|         1501.05|      195.1365|         163.91466|           10000|     Savings|                NULL|                120.084|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
only showing top 20 rows

In [ ]:
df.count() #33599

33599

## Null Value Handling

#### Importing col

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df.filter(col('OverDraft_Status_Ind').isNull()).show()

+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|PRODUCT_INSTANCE_BKEY|IDENTITY_CODE|AS_OF_DATE|ISO_CURRENCY_CD|AMRT_TERM|AMRT_TERM_MULT|BRANCH_CD|  CIF_KEY|CUR_BOOK_BAL|DATA_SOURCE|GEOGRAPHIC_LOC_CD|LAST_PAYMENT_DATE|LAST_REPRICE_DATE|MARKET_SEGMENT_CD|MATURITY_DATE|OPEN_ACCOUNT_FLG|ORG_BOOK_BAL|ORIGINATION_DATE|REMAIN_TERM_C|REMAIN_TERM_MULT_C|ISSUE_DATE|BDI_LOB_XSELL|CUSTOMER_ID|SERVICE_OUTLET_BKEY|PRODUCT_TYPE_BKEY|Prod_Sub_Type_Code|ACCOUNT_OFFICER|ACCOUNT_OPEN_DATE|AVG_Monthly_BAL|Accrued Interest|Debit_Interest|Unpaid_Item_charge|Min_Bal_Required|Account_type|OverDraft_Status_Ind|Account_Maintenance_Fee|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|      CH-235839978594|     20131129|29-11-2013|            IDR|     NULL|          NULL|    36800| 33605955|      269500|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|      269500|      29-11-2013|           33|                 D|24-10-2013|            0|     103763|               3680|             DEMD|              SAVG|          RM-56|       15-11-1999|         418251|        16730.04|     2174.9052|        2066.15994|           10000|     Savings|                NULL|               334.6008|
|      CH-965554688564|     20131129|29-11-2013|            IDR|     NULL|          NULL|    87281| 33877991| 7001535.222|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               1| 7001535.222|      29-11-2013|           33|                 D|03-05-2012|            0|     113907|               8728|             DEMD|              SAVG|          RM-65|       28-07-1997|         480759|         9615.18|     1153.8216|        969.210144|           10000|     Savings|                NULL|               384.6072|
|      CH-465554778554|     20131129|29-11-2013|            IDR|     NULL|          NULL|    70200| 33837931|           0|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|03-05-2012|            0|     112472|               7020|             DEMD|              SAVG|          RM-46|       13-07-2006|         188821|         7552.84|     1057.3976|        962.231816|           10000|     Savings|                NULL|               151.0568|
|      CH-42551738004.|     20131129|29-11-2013|            IDR|     NULL|          NULL|    60500| 23691941|  4985825841|         11|                6|             NULL|       29-11-2013|               13|   01-01-2014|               1|  4985825841|      29-11-2013|           33|                 D|13-05-2004|            0|      57422|               6050|             DEMD|              SAVG|           RM-7|       28-01-2010|         279090|          2790.9|       334.908|         277.97364|           10000|     Savings|                NULL|                223.272|
|      CH-182047308024|     20131129|29-11-2013|            IDR|     NULL|          NULL|    52600|123343954|           0|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|18-06-2008|            0|     147348|               5260|             DEMD|              SAVG|          RM-52|       21-11-2010|          64482|         1289.64|       193.446|         160.56018|           10000|     Savings|                NULL|                51.5856|
|      CH-195658628504|     20131129|29-11-2013|            IDR|     NULL|          NULL|    10400| 33948921|   31695.686|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               2|   31695.686|      29-11-2013|           33|                 D|22-06-2012|            0|     116482|               1040|             DEMD|              SAVG|          RM-25|       25-05-2000|          57543|         2301.72|       230.172|         193.34448|           10000|     Savings|                NULL|                46.0344|
|      CH-195664158584|     20131129|29-11-2013|            IDR|     NULL|          NULL|     1600| 33970958| 24487259.29|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1| 24487259.29|      29-11-2013|           33|                 D|04-07-2012|            0|     117299|               1600|             DEMD|              SAVG|          RM-54|       05-07-2000|         152659|         7632.95|      839.6245|         688.49209|           10000|     Savings|                NULL|               122.1272|
|      CH-705651228504|     20131129|29-11-2013|            IDR|     NULL|          NULL|     3600| 33064921|  362684.267|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  362684.267|      29-11-2013|           33|                 D|18-07-2012|            0|      82954|               3600|             DEMD|              SAVG|          RM-15|       18-11-2004|         400265|         16010.6|       1601.06|         1504.9964|           10000|     Savings|                NULL|                320.212|
|      CH-985719648554|     20131129|29-11-2013|            IDR|     NULL|          NULL|    65400| 33331942| 8021376.022|         11|                6|             NULL|       29-11-2013|               12|   01-01-2014|               1| 8021376.022|      29-11-2013|           33|                 D|21-12-2012|            0|      93520|               6540|             DEMD|              SAVG|          RM-40|       16-01-1998|         117321|         3519.63|      457.5519|        370.617039|           10000|     Savings|                NULL|                93.8568|
|      CH-212637268054|     20131129|29-11-2013|            IDR|     NULL|          NULL|    73600|123293959|  314554.196|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|  314554.196|      29-11-2013|           33|                 D|11-04-2005|            0|     143166|               7360|             DEMD|              SAVG|          RM-52|       11-01-1997|         292018|         2920.18|       438.027|         381.08349|           10000|     Savings|                NULL|               233.6144|
|      CH-652289318094|     20131129|29-11-2013|            IDR|     NULL|          NULL|     2200| 23554921|  240450.694|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  240450.694|      29-11-2013|           33|                 D|04-10-2000|            0|      45481|               2200|             DEMD|              SAVG|          RM-74|       07-04-1999|         147081|         1470.81|       147.081|         133.84371|           10000|     Savings|                NULL|               117.6648|
|      CH-815779338584|     20131129|29-11-2013|            IDR|     NULL|          NULL|    37600| 33595976|  353355.442|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|  13-06-2867|      29-11-2013|           33|                 D|28-02-2013|            0|     103363|               3760|             DEMD|              SAVG|          RM-68|       19-05-2002|         492071|        19682.84|      2952.426|        2598.13488|           10000|     Savings|                NULL|               393.6568|
|      CH-615775048544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    52900| 33523997|   60368.594|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               1|   60368.594|      29-11-2013|           33|                 D|20-02-2013|            0|     100741|               5290|             DEMD|              SAVG|          RM-97|       09-02-2004|         209251|         4185.02|      460.3522|         437.33459|           10000|     Savings|                NULL|               167.4008|
|      CH-425795818524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    42900| 33598936|   13267.122|         11|                4|             NULL|       29-11-2013|               12|   01-01-2014|               1|   13267.122|      29-11-2013|           33|                 D|13-03-2013|            0|     103463|               4290|             DEMD|              SAVG|          RM-83|       17-06-2013|         161368|         6454.72|       968.208|         803.61264|           10000|     Savings|                NULL|               129.0944|
|      CH-895721348584|     20131129|29-11-2013|            IDR|     NULL|          NULL|    38500| 33436928|   234942.18|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|   234942.18|      29-11-2013|           33|                 D|21-01-2013|            0|      97472|               3850|             DEMD|              SAVG|           RM-5|       21-08-2013|         452844|         4528.44|      588.6972|        547.488396|           10000|     Savings|                NULL|               362.2752|
|      CH-905737608584|     20131129|29-11-2013|            IDR|     NULL|          NULL|     3500| 33409966|   73923.333|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|   73923.333|      29-11-2013|           33|                 D|04-02-2013|            0|      96483|               3500|             DEMD|              SAVG|           RM-1|       02-03-2003|         341444|         6828.88|      751.1768|        608.453208|           10000|     Savings|                NULL|               273.1552|
|      CH-715755148544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    30400| 33503976|   27787.529|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|   27787.529|      29-11-2013|           33|                 D|20-02-2013|            0|     100068|               3040|             DEMD|              SAVG|          RM-89|       14-08-2003|         150105|         1501.05|      195.1365|         163.91466|           10000|     Savings|                NULL|                120.084|
|      CH-815745618544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    18200| 33225913| 1146558.512|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1| 1146558.512|      29-11-2013|           33|                 D|20-02-2013|            0|      89213|               1820|             DEMD|              SAVG|          RM-38|       04-01-2010|         255753|        10230.12|     1125.3132|       1035.288144|           10000|     Savings|                NULL|               204.6024|
|      CH-725727978514|     20131129|29-11-2013|            IDR|     NULL|          NULL|    40400| 33549902|   43487.873|         11|                4|             NULL|       29-11-2013|               12|   01-01-2014|               1|   43487.873|      29-11-2013|           33|                 D|15-03-2013|            0|     101634|               4040|             DEMD|              SAVG|          RM-49|       25-11-2008|         347222|        13888.88|      1388.888|        1277.77696|           10000|     Savings|                NULL|               277.7776|
|      CH-335665898524|     20131129|29-11-2013|            IDR|     NULL|          NULL|     7800| 33175992|           0|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|07-09-2012|            0|      87292|               7800|             DEMD|              SAVG|          RM-35|       08-10-2002|         397547|        19877.35|      2782.829|        2560.20268|           10000|     Savings|                NULL|               318.0376|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
only showing top 20 rows

#### Without using col (Null Values)

In [ ]:
# Data where OverDraft_Status_Ind is NUll
# df.count()
df.filter(df.OverDraft_Status_Ind.isNull()).count()
# df.filter("OverDraft_Status_Ind is NULL").count()

26717

In [ ]:
df.na.fill(value=0, subset='OverDraft_Status_Ind').show()

+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|PRODUCT_INSTANCE_BKEY|IDENTITY_CODE|AS_OF_DATE|ISO_CURRENCY_CD|AMRT_TERM|AMRT_TERM_MULT|BRANCH_CD|  CIF_KEY|CUR_BOOK_BAL|DATA_SOURCE|GEOGRAPHIC_LOC_CD|LAST_PAYMENT_DATE|LAST_REPRICE_DATE|MARKET_SEGMENT_CD|MATURITY_DATE|OPEN_ACCOUNT_FLG|ORG_BOOK_BAL|ORIGINATION_DATE|REMAIN_TERM_C|REMAIN_TERM_MULT_C|ISSUE_DATE|BDI_LOB_XSELL|CUSTOMER_ID|SERVICE_OUTLET_BKEY|PRODUCT_TYPE_BKEY|Prod_Sub_Type_Code|ACCOUNT_OFFICER|ACCOUNT_OPEN_DATE|AVG_Monthly_BAL|Accrued Interest|Debit_Interest|Unpaid_Item_charge|Min_Bal_Required|Account_type|OverDraft_Status_Ind|Account_Maintenance_Fee|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|      CH-865526978524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    32000| 33843933|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|17-04-2012|            0|     112655|               3200|             DEMD|              SAVG|          RM-71|       27-03-1997|         406468|        16258.72|     2276.2208|       2003.074304|           10000|     Savings|                  OD|               325.1744|
|      CH-235839978594|     20131129|29-11-2013|            IDR|     NULL|          NULL|    36800| 33605955|      269500|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|      269500|      29-11-2013|           33|                 D|24-10-2013|            0|     103763|               3680|             DEMD|              SAVG|          RM-56|       15-11-1999|         418251|        16730.04|     2174.9052|        2066.15994|           10000|     Savings|                NULL|               334.6008|
|      CH-965554688564|     20131129|29-11-2013|            IDR|     NULL|          NULL|    87281| 33877991| 7001535.222|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               1| 7001535.222|      29-11-2013|           33|                 D|03-05-2012|            0|     113907|               8728|             DEMD|              SAVG|          RM-65|       28-07-1997|         480759|         9615.18|     1153.8216|        969.210144|           10000|     Savings|                NULL|               384.6072|
|      CH-465554778554|     20131129|29-11-2013|            IDR|     NULL|          NULL|    70200| 33837931|           0|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|03-05-2012|            0|     112472|               7020|             DEMD|              SAVG|          RM-46|       13-07-2006|         188821|         7552.84|     1057.3976|        962.231816|           10000|     Savings|                NULL|               151.0568|
|      CH-42551738004.|     20131129|29-11-2013|            IDR|     NULL|          NULL|    60500| 23691941|  4985825841|         11|                6|             NULL|       29-11-2013|               13|   01-01-2014|               1|  4985825841|      29-11-2013|           33|                 D|13-05-2004|            0|      57422|               6050|             DEMD|              SAVG|           RM-7|       28-01-2010|         279090|          2790.9|       334.908|         277.97364|           10000|     Savings|                NULL|                223.272|
|      CH-685626348524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    20900| 33912975|           0|         11|                2|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|29-05-2012|            0|     115239|               2090|             DEMD|              SAVG|          RM-45|       15-10-2006|         344619|        17230.95|     1895.4045|        1743.77214|           10000|     Savings|                  OD|               275.6952|
|      CH-182047308024|     20131129|29-11-2013|            IDR|     NULL|          NULL|    52600|123343954|           0|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|18-06-2008|            0|     147348|               5260|             DEMD|              SAVG|          RM-52|       21-11-2010|          64482|         1289.64|       193.446|         160.56018|           10000|     Savings|                NULL|                51.5856|
|      CH-195658628504|     20131129|29-11-2013|            IDR|     NULL|          NULL|    10400| 33948921|   31695.686|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               2|   31695.686|      29-11-2013|           33|                 D|22-06-2012|            0|     116482|               1040|             DEMD|              SAVG|          RM-25|       25-05-2000|          57543|         2301.72|       230.172|         193.34448|           10000|     Savings|                NULL|                46.0344|
|      CH-585643478504|     20131129|29-11-2013|            IDR|     NULL|          NULL|    36900| 33935938|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|13-06-2012|            0|     116024|               3690|             DEMD|              SAVG|           RM-2|       12-07-1998|         100347|         3010.41|      391.3533|        340.477371|           10000|     Savings|                  OD|                80.2776|
|      CH-195664158584|     20131129|29-11-2013|            IDR|     NULL|          NULL|     1600| 33970958| 24487259.29|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1| 24487259.29|      29-11-2013|           33|                 D|04-07-2012|            0|     117299|               1600|             DEMD|              SAVG|          RM-54|       05-07-2000|         152659|         7632.95|      839.6245|         688.49209|           10000|     Savings|                NULL|               122.1272|
|      CH-705651228504|     20131129|29-11-2013|            IDR|     NULL|          NULL|     3600| 33064921|  362684.267|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  362684.267|      29-11-2013|           33|                 D|18-07-2012|            0|      82954|               3600|             DEMD|              SAVG|          RM-15|       18-11-2004|         400265|         16010.6|       1601.06|         1504.9964|           10000|     Savings|                NULL|                320.212|
|      CH-985719648554|     20131129|29-11-2013|            IDR|     NULL|          NULL|    65400| 33331942| 8021376.022|         11|                6|             NULL|       29-11-2013|               12|   01-01-2014|               1| 8021376.022|      29-11-2013|           33|                 D|21-12-2012|            0|      93520|               6540|             DEMD|              SAVG|          RM-40|       16-01-1998|         117321|         3519.63|      457.5519|        370.617039|           10000|     Savings|                NULL|                93.8568|
|      CH-212637268054|     20131129|29-11-2013|            IDR|     NULL|          NULL|    73600|123293959|  314554.196|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|  314554.196|      29-11-2013|           33|                 D|11-04-2005|            0|     143166|               7360|             DEMD|              SAVG|          RM-52|       11-01-1997|         292018|         2920.18|       438.027|         381.08349|           10000|     Savings|                NULL|               233.6144|
|      CH-652289318094|     20131129|29-11-2013|            IDR|     NULL|          NULL|     2200| 23554921|  240450.694|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  240450.694|      29-11-2013|           33|                 D|04-10-2000|            0|      45481|               2200|             DEMD|              SAVG|          RM-74|       07-04-1999|         147081|         1470.81|       147.081|         133.84371|           10000|     Savings|                NULL|               117.6648|
|      CH-815779338584|     20131129|29-11-2013|            IDR|     NULL|          NULL|    37600| 33595976|  353355.442|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|  13-06-2867|      29-11-2013|           33|                 D|28-02-2013|            0|     103363|               3760|             DEMD|              SAVG|          RM-68|       19-05-2002|         492071|        19682.84|      2952.426|        2598.13488|           10000|     Savings|                NULL|               393.6568|
|      CH-615775048544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    52900| 33523997|   60368.594|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               1|   60368.594|      29-11-2013|           33|                 D|20-02-2013|            0|     100741|               5290|             DEMD|              SAVG|          RM-97|       09-02-2004|         209251|         4185.02|      460.3522|         437.33459|           10000|     Savings|                NULL|               167.4008|
|      CH-425795818524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    42900| 33598936|   13267.122|         11|                4|             NULL|       29-11-2013|               12|   01-01-2014|               1|   13267.122|      29-11-2013|           33|                 D|13-03-2013|            0|     103463|               4290|             DEMD|              SAVG|          RM-83|       17-06-2013|         161368|         6454.72|       968.208|         803.61264|           10000|     Savings|                NULL|               129.0944|
|      CH-895721348584|     20131129|29-11-2013|            IDR|     NULL|          NULL|    38500| 33436928|   234942.18|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|   234942.18|      29-11-2013|           33|                 D|21-01-2013|            0|      97472|               3850|             DEMD|              SAVG|           RM-5|       21-08-2013|         452844|         4528.44|      588.6972|        547.488396|           10000|     Savings|                NULL|               362.2752|
|      CH-905737608584|     20131129|29-11-2013|            IDR|     NULL|          NULL|     3500| 33409966|   73923.333|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|   73923.333|      29-11-2013|           33|                 D|04-02-2013|            0|      96483|               3500|             DEMD|              SAVG|           RM-1|       02-03-2003|         341444|         6828.88|      751.1768|        608.453208|           10000|     Savings|                NULL|               273.1552|
|      CH-715755148544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    30400| 33503976|   27787.529|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|   27787.529|      29-11-2013|           33|                 D|20-02-2013|            0|     100068|               3040|             DEMD|              SAVG|          RM-89|       14-08-2003|         150105|         1501.05|      195.1365|         163.91466|           10000|     Savings|                NULL|                120.084|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
only showing top 20 rows

In [ ]:
df.fillna(0, subset=['AMRT_TERM']).show()

+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|PRODUCT_INSTANCE_BKEY|IDENTITY_CODE|AS_OF_DATE|ISO_CURRENCY_CD|AMRT_TERM|AMRT_TERM_MULT|BRANCH_CD|  CIF_KEY|CUR_BOOK_BAL|DATA_SOURCE|GEOGRAPHIC_LOC_CD|LAST_PAYMENT_DATE|LAST_REPRICE_DATE|MARKET_SEGMENT_CD|MATURITY_DATE|OPEN_ACCOUNT_FLG|ORG_BOOK_BAL|ORIGINATION_DATE|REMAIN_TERM_C|REMAIN_TERM_MULT_C|ISSUE_DATE|BDI_LOB_XSELL|CUSTOMER_ID|SERVICE_OUTLET_BKEY|PRODUCT_TYPE_BKEY|Prod_Sub_Type_Code|ACCOUNT_OFFICER|ACCOUNT_OPEN_DATE|AVG_Monthly_BAL|Accrued Interest|Debit_Interest|Unpaid_Item_charge|Min_Bal_Required|Account_type|OverDraft_Status_Ind|Account_Maintenance_Fee|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|      CH-865526978524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    32000| 33843933|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|17-04-2012|            0|     112655|               3200|             DEMD|              SAVG|          RM-71|       27-03-1997|         406468|        16258.72|     2276.2208|       2003.074304|           10000|     Savings|                  OD|               325.1744|
|      CH-235839978594|     20131129|29-11-2013|            IDR|     NULL|          NULL|    36800| 33605955|      269500|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|      269500|      29-11-2013|           33|                 D|24-10-2013|            0|     103763|               3680|             DEMD|              SAVG|          RM-56|       15-11-1999|         418251|        16730.04|     2174.9052|        2066.15994|           10000|     Savings|                NULL|               334.6008|
|      CH-965554688564|     20131129|29-11-2013|            IDR|     NULL|          NULL|    87281| 33877991| 7001535.222|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               1| 7001535.222|      29-11-2013|           33|                 D|03-05-2012|            0|     113907|               8728|             DEMD|              SAVG|          RM-65|       28-07-1997|         480759|         9615.18|     1153.8216|        969.210144|           10000|     Savings|                NULL|               384.6072|
|      CH-465554778554|     20131129|29-11-2013|            IDR|     NULL|          NULL|    70200| 33837931|           0|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|03-05-2012|            0|     112472|               7020|             DEMD|              SAVG|          RM-46|       13-07-2006|         188821|         7552.84|     1057.3976|        962.231816|           10000|     Savings|                NULL|               151.0568|
|      CH-42551738004.|     20131129|29-11-2013|            IDR|     NULL|          NULL|    60500| 23691941|  4985825841|         11|                6|             NULL|       29-11-2013|               13|   01-01-2014|               1|  4985825841|      29-11-2013|           33|                 D|13-05-2004|            0|      57422|               6050|             DEMD|              SAVG|           RM-7|       28-01-2010|         279090|          2790.9|       334.908|         277.97364|           10000|     Savings|                NULL|                223.272|
|      CH-685626348524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    20900| 33912975|           0|         11|                2|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|29-05-2012|            0|     115239|               2090|             DEMD|              SAVG|          RM-45|       15-10-2006|         344619|        17230.95|     1895.4045|        1743.77214|           10000|     Savings|                  OD|               275.6952|
|      CH-182047308024|     20131129|29-11-2013|            IDR|     NULL|          NULL|    52600|123343954|           0|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|18-06-2008|            0|     147348|               5260|             DEMD|              SAVG|          RM-52|       21-11-2010|          64482|         1289.64|       193.446|         160.56018|           10000|     Savings|                NULL|                51.5856|
|      CH-195658628504|     20131129|29-11-2013|            IDR|     NULL|          NULL|    10400| 33948921|   31695.686|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               2|   31695.686|      29-11-2013|           33|                 D|22-06-2012|            0|     116482|               1040|             DEMD|              SAVG|          RM-25|       25-05-2000|          57543|         2301.72|       230.172|         193.34448|           10000|     Savings|                NULL|                46.0344|
|      CH-585643478504|     20131129|29-11-2013|            IDR|     NULL|          NULL|    36900| 33935938|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|13-06-2012|            0|     116024|               3690|             DEMD|              SAVG|           RM-2|       12-07-1998|         100347|         3010.41|      391.3533|        340.477371|           10000|     Savings|                  OD|                80.2776|
|      CH-195664158584|     20131129|29-11-2013|            IDR|     NULL|          NULL|     1600| 33970958| 24487259.29|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1| 24487259.29|      29-11-2013|           33|                 D|04-07-2012|            0|     117299|               1600|             DEMD|              SAVG|          RM-54|       05-07-2000|         152659|         7632.95|      839.6245|         688.49209|           10000|     Savings|                NULL|               122.1272|
|      CH-705651228504|     20131129|29-11-2013|            IDR|     NULL|          NULL|     3600| 33064921|  362684.267|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  362684.267|      29-11-2013|           33|                 D|18-07-2012|            0|      82954|               3600|             DEMD|              SAVG|          RM-15|       18-11-2004|         400265|         16010.6|       1601.06|         1504.9964|           10000|     Savings|                NULL|                320.212|
|      CH-985719648554|     20131129|29-11-2013|            IDR|     NULL|          NULL|    65400| 33331942| 8021376.022|         11|                6|             NULL|       29-11-2013|               12|   01-01-2014|               1| 8021376.022|      29-11-2013|           33|                 D|21-12-2012|            0|      93520|               6540|             DEMD|              SAVG|          RM-40|       16-01-1998|         117321|         3519.63|      457.5519|        370.617039|           10000|     Savings|                NULL|                93.8568|
|      CH-212637268054|     20131129|29-11-2013|            IDR|     NULL|          NULL|    73600|123293959|  314554.196|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|  314554.196|      29-11-2013|           33|                 D|11-04-2005|            0|     143166|               7360|             DEMD|              SAVG|          RM-52|       11-01-1997|         292018|         2920.18|       438.027|         381.08349|           10000|     Savings|                NULL|               233.6144|
|      CH-652289318094|     20131129|29-11-2013|            IDR|     NULL|          NULL|     2200| 23554921|  240450.694|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  240450.694|      29-11-2013|           33|                 D|04-10-2000|            0|      45481|               2200|             DEMD|              SAVG|          RM-74|       07-04-1999|         147081|         1470.81|       147.081|         133.84371|           10000|     Savings|                NULL|               117.6648|
|      CH-815779338584|     20131129|29-11-2013|            IDR|     NULL|          NULL|    37600| 33595976|  353355.442|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|  13-06-2867|      29-11-2013|           33|                 D|28-02-2013|            0|     103363|               3760|             DEMD|              SAVG|          RM-68|       19-05-2002|         492071|        19682.84|      2952.426|        2598.13488|           10000|     Savings|                NULL|               393.6568|
|      CH-615775048544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    52900| 33523997|   60368.594|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               1|   60368.594|      29-11-2013|           33|                 D|20-02-2013|            0|     100741|               5290|             DEMD|              SAVG|          RM-97|       09-02-2004|         209251|         4185.02|      460.3522|         437.33459|           10000|     Savings|                NULL|               167.4008|
|      CH-425795818524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    42900| 33598936|   13267.122|         11|                4|             NULL|       29-11-2013|               12|   01-01-2014|               1|   13267.122|      29-11-2013|           33|                 D|13-03-2013|            0|     103463|               4290|             DEMD|              SAVG|          RM-83|       17-06-2013|         161368|         6454.72|       968.208|         803.61264|           10000|     Savings|                NULL|               129.0944|
|      CH-895721348584|     20131129|29-11-2013|            IDR|     NULL|          NULL|    38500| 33436928|   234942.18|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|   234942.18|      29-11-2013|           33|                 D|21-01-2013|            0|      97472|               3850|             DEMD|              SAVG|           RM-5|       21-08-2013|         452844|         4528.44|      588.6972|        547.488396|           10000|     Savings|                NULL|               362.2752|
|      CH-905737608584|     20131129|29-11-2013|            IDR|     NULL|          NULL|     3500| 33409966|   73923.333|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|   73923.333|      29-11-2013|           33|                 D|04-02-2013|            0|      96483|               3500|             DEMD|              SAVG|           RM-1|       02-03-2003|         341444|         6828.88|      751.1768|        608.453208|           10000|     Savings|                NULL|               273.1552|
|      CH-715755148544|     20131129|29-11-2013|            IDR|     NULL|          NULL|    30400| 33503976|   27787.529|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|   27787.529|      29-11-2013|           33|                 D|20-02-2013|            0|     100068|               3040|             DEMD|              SAVG|          RM-89|       14-08-2003|         150105|         1501.05|      195.1365|         163.91466|           10000|     Savings|                NULL|                120.084|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
only showing top 20 rows

In [ ]:
df.collect()[0]

Row(PRODUCT_INSTANCE_BKEY='CH-865526978524', IDENTITY_CODE='20131129', AS_OF_DATE='29-11-2013', ISO_CURRENCY_CD='IDR', AMRT_TERM=None, AMRT_TERM_MULT=None, BRANCH_CD='32000', CIF_KEY='33843933', CUR_BOOK_BAL='0', DATA_SOURCE='11', GEOGRAPHIC_LOC_CD='3', LAST_PAYMENT_DATE=None, LAST_REPRICE_DATE='29-11-2013', MARKET_SEGMENT_CD='12', MATURITY_DATE='01-01-2014', OPEN_ACCOUNT_FLG='2', ORG_BOOK_BAL='0', ORIGINATION_DATE='29-11-2013', REMAIN_TERM_C='33', REMAIN_TERM_MULT_C='D', ISSUE_DATE='17-04-2012', BDI_LOB_XSELL='0', CUSTOMER_ID='112655', SERVICE_OUTLET_BKEY='3200', PRODUCT_TYPE_BKEY='DEMD', Prod_Sub_Type_Code='SAVG', ACCOUNT_OFFICER='RM-71', ACCOUNT_OPEN_DATE='27-03-1997', AVG_Monthly_BAL='406468', Accrued Interest='16258.72', Debit_Interest='2276.2208', Unpaid_Item_charge='2003.074304', Min_Bal_Required='10000', Account_type='Savings', OverDraft_Status_Ind='OD', Account_Maintenance_Fee='325.1744')

In [ ]:
df.show(n=2)

+---------------------+-------------+----------+---------------+---------+--------------+---------+--------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|PRODUCT_INSTANCE_BKEY|IDENTITY_CODE|AS_OF_DATE|ISO_CURRENCY_CD|AMRT_TERM|AMRT_TERM_MULT|BRANCH_CD| CIF_KEY|CUR_BOOK_BAL|DATA_SOURCE|GEOGRAPHIC_LOC_CD|LAST_PAYMENT_DATE|LAST_REPRICE_DATE|MARKET_SEGMENT_CD|MATURITY_DATE|OPEN_ACCOUNT_FLG|ORG_BOOK_BAL|ORIGINATION_DATE|REMAIN_TERM_C|REMAIN_TERM_MULT_C|ISSUE_DATE|BDI_LOB_XSELL|CUSTOMER_ID|SERVICE_OUTLET_BKEY|PRODUCT_TYPE_BKEY|Prod_Sub_Type_Code|ACCOUNT_OFFICER|ACCOUNT_OPEN_DATE|AVG_Monthly_BAL|Accrued Interest|Debit_Interest|Unpaid_Item_charge|Min_Bal_Required|Account_type|OverDraft_Status_Ind|Account_Maintenance_Fee|
+---------------------+-------------+----------+---------------+---------+--------------+---------+--------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|      CH-865526978524|     20131129|29-11-2013|            IDR|     NULL|          NULL|    32000|33843933|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|17-04-2012|            0|     112655|               3200|             DEMD|              SAVG|          RM-71|       27-03-1997|         406468|        16258.72|     2276.2208|       2003.074304|           10000|     Savings|                  OD|               325.1744|
|      CH-235839978594|     20131129|29-11-2013|            IDR|     NULL|          NULL|    36800|33605955|      269500|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|      269500|      29-11-2013|           33|                 D|24-10-2013|            0|     103763|               3680|             DEMD|              SAVG|          RM-56|       15-11-1999|         418251|        16730.04|     2174.9052|        2066.15994|           10000|     Savings|                NULL|               334.6008|
+---------------------+-------------+----------+---------------+---------+--------------+---------+--------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
only showing top 2 rows

In [ ]:
from pyspark.sql.functions import coalesce, expr

In [ ]:
df.withColumn('AMRT_TERM', expr("nvl(AMRT_TERM, 0)")).show()

+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|PRODUCT_INSTANCE_BKEY|IDENTITY_CODE|AS_OF_DATE|ISO_CURRENCY_CD|AMRT_TERM|AMRT_TERM_MULT|BRANCH_CD|  CIF_KEY|CUR_BOOK_BAL|DATA_SOURCE|GEOGRAPHIC_LOC_CD|LAST_PAYMENT_DATE|LAST_REPRICE_DATE|MARKET_SEGMENT_CD|MATURITY_DATE|OPEN_ACCOUNT_FLG|ORG_BOOK_BAL|ORIGINATION_DATE|REMAIN_TERM_C|REMAIN_TERM_MULT_C|ISSUE_DATE|BDI_LOB_XSELL|CUSTOMER_ID|SERVICE_OUTLET_BKEY|PRODUCT_TYPE_BKEY|Prod_Sub_Type_Code|ACCOUNT_OFFICER|ACCOUNT_OPEN_DATE|AVG_Monthly_BAL|Accrued Interest|Debit_Interest|Unpaid_Item_charge|Min_Bal_Required|Account_type|OverDraft_Status_Ind|Account_Maintenance_Fee|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
|      CH-865526978524|     20131129|29-11-2013|            IDR|        0|          NULL|    32000| 33843933|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|17-04-2012|            0|     112655|               3200|             DEMD|              SAVG|          RM-71|       27-03-1997|         406468|        16258.72|     2276.2208|       2003.074304|           10000|     Savings|                  OD|               325.1744|
|      CH-235839978594|     20131129|29-11-2013|            IDR|        0|          NULL|    36800| 33605955|      269500|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|      269500|      29-11-2013|           33|                 D|24-10-2013|            0|     103763|               3680|             DEMD|              SAVG|          RM-56|       15-11-1999|         418251|        16730.04|     2174.9052|        2066.15994|           10000|     Savings|                NULL|               334.6008|
|      CH-965554688564|     20131129|29-11-2013|            IDR|        0|          NULL|    87281| 33877991| 7001535.222|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               1| 7001535.222|      29-11-2013|           33|                 D|03-05-2012|            0|     113907|               8728|             DEMD|              SAVG|          RM-65|       28-07-1997|         480759|         9615.18|     1153.8216|        969.210144|           10000|     Savings|                NULL|               384.6072|
|      CH-465554778554|     20131129|29-11-2013|            IDR|        0|          NULL|    70200| 33837931|           0|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|03-05-2012|            0|     112472|               7020|             DEMD|              SAVG|          RM-46|       13-07-2006|         188821|         7552.84|     1057.3976|        962.231816|           10000|     Savings|                NULL|               151.0568|
|      CH-42551738004.|     20131129|29-11-2013|            IDR|        0|          NULL|    60500| 23691941|  4985825841|         11|                6|             NULL|       29-11-2013|               13|   01-01-2014|               1|  4985825841|      29-11-2013|           33|                 D|13-05-2004|            0|      57422|               6050|             DEMD|              SAVG|           RM-7|       28-01-2010|         279090|          2790.9|       334.908|         277.97364|           10000|     Savings|                NULL|                223.272|
|      CH-685626348524|     20131129|29-11-2013|            IDR|        0|          NULL|    20900| 33912975|           0|         11|                2|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|29-05-2012|            0|     115239|               2090|             DEMD|              SAVG|          RM-45|       15-10-2006|         344619|        17230.95|     1895.4045|        1743.77214|           10000|     Savings|                  OD|               275.6952|
|      CH-182047308024|     20131129|29-11-2013|            IDR|        0|          NULL|    52600|123343954|           0|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|18-06-2008|            0|     147348|               5260|             DEMD|              SAVG|          RM-52|       21-11-2010|          64482|         1289.64|       193.446|         160.56018|           10000|     Savings|                NULL|                51.5856|
|      CH-195658628504|     20131129|29-11-2013|            IDR|        0|          NULL|    10400| 33948921|   31695.686|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               2|   31695.686|      29-11-2013|           33|                 D|22-06-2012|            0|     116482|               1040|             DEMD|              SAVG|          RM-25|       25-05-2000|          57543|         2301.72|       230.172|         193.34448|           10000|     Savings|                NULL|                46.0344|
|      CH-585643478504|     20131129|29-11-2013|            IDR|        0|          NULL|    36900| 33935938|           0|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|           0|      29-11-2013|           33|                 D|13-06-2012|            0|     116024|               3690|             DEMD|              SAVG|           RM-2|       12-07-1998|         100347|         3010.41|      391.3533|        340.477371|           10000|     Savings|                  OD|                80.2776|
|      CH-195664158584|     20131129|29-11-2013|            IDR|        0|          NULL|     1600| 33970958| 24487259.29|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1| 24487259.29|      29-11-2013|           33|                 D|04-07-2012|            0|     117299|               1600|             DEMD|              SAVG|          RM-54|       05-07-2000|         152659|         7632.95|      839.6245|         688.49209|           10000|     Savings|                NULL|               122.1272|
|      CH-705651228504|     20131129|29-11-2013|            IDR|        0|          NULL|     3600| 33064921|  362684.267|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  362684.267|      29-11-2013|           33|                 D|18-07-2012|            0|      82954|               3600|             DEMD|              SAVG|          RM-15|       18-11-2004|         400265|         16010.6|       1601.06|         1504.9964|           10000|     Savings|                NULL|                320.212|
|      CH-985719648554|     20131129|29-11-2013|            IDR|        0|          NULL|    65400| 33331942| 8021376.022|         11|                6|             NULL|       29-11-2013|               12|   01-01-2014|               1| 8021376.022|      29-11-2013|           33|                 D|21-12-2012|            0|      93520|               6540|             DEMD|              SAVG|          RM-40|       16-01-1998|         117321|         3519.63|      457.5519|        370.617039|           10000|     Savings|                NULL|                93.8568|
|      CH-212637268054|     20131129|29-11-2013|            IDR|        0|          NULL|    73600|123293959|  314554.196|         11|                7|             NULL|       29-11-2013|               12|   01-01-2014|               2|  314554.196|      29-11-2013|           33|                 D|11-04-2005|            0|     143166|               7360|             DEMD|              SAVG|          RM-52|       11-01-1997|         292018|         2920.18|       438.027|         381.08349|           10000|     Savings|                NULL|               233.6144|
|      CH-652289318094|     20131129|29-11-2013|            IDR|        0|          NULL|     2200| 23554921|  240450.694|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|  240450.694|      29-11-2013|           33|                 D|04-10-2000|            0|      45481|               2200|             DEMD|              SAVG|          RM-74|       07-04-1999|         147081|         1470.81|       147.081|         133.84371|           10000|     Savings|                NULL|               117.6648|
|      CH-815779338584|     20131129|29-11-2013|            IDR|        0|          NULL|    37600| 33595976|  353355.442|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|  13-06-2867|      29-11-2013|           33|                 D|28-02-2013|            0|     103363|               3760|             DEMD|              SAVG|          RM-68|       19-05-2002|         492071|        19682.84|      2952.426|        2598.13488|           10000|     Savings|                NULL|               393.6568|
|      CH-615775048544|     20131129|29-11-2013|            IDR|        0|          NULL|    52900| 33523997|   60368.594|         11|                5|             NULL|       29-11-2013|               12|   01-01-2014|               1|   60368.594|      29-11-2013|           33|                 D|20-02-2013|            0|     100741|               5290|             DEMD|              SAVG|          RM-97|       09-02-2004|         209251|         4185.02|      460.3522|         437.33459|           10000|     Savings|                NULL|               167.4008|
|      CH-425795818524|     20131129|29-11-2013|            IDR|        0|          NULL|    42900| 33598936|   13267.122|         11|                4|             NULL|       29-11-2013|               12|   01-01-2014|               1|   13267.122|      29-11-2013|           33|                 D|13-03-2013|            0|     103463|               4290|             DEMD|              SAVG|          RM-83|       17-06-2013|         161368|         6454.72|       968.208|         803.61264|           10000|     Savings|                NULL|               129.0944|
|      CH-895721348584|     20131129|29-11-2013|            IDR|        0|          NULL|    38500| 33436928|   234942.18|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               1|   234942.18|      29-11-2013|           33|                 D|21-01-2013|            0|      97472|               3850|             DEMD|              SAVG|           RM-5|       21-08-2013|         452844|         4528.44|      588.6972|        547.488396|           10000|     Savings|                NULL|               362.2752|
|      CH-905737608584|     20131129|29-11-2013|            IDR|        0|          NULL|     3500| 33409966|   73923.333|         11|                1|             NULL|       29-11-2013|               12|   01-01-2014|               1|   73923.333|      29-11-2013|           33|                 D|04-02-2013|            0|      96483|               3500|             DEMD|              SAVG|           RM-1|       02-03-2003|         341444|         6828.88|      751.1768|        608.453208|           10000|     Savings|                NULL|               273.1552|
|      CH-715755148544|     20131129|29-11-2013|            IDR|        0|          NULL|    30400| 33503976|   27787.529|         11|                3|             NULL|       29-11-2013|               12|   01-01-2014|               2|   27787.529|      29-11-2013|           33|                 D|20-02-2013|            0|     100068|               3040|             DEMD|              SAVG|          RM-89|       14-08-2003|         150105|         1501.05|      195.1365|         163.91466|           10000|     Savings|                NULL|                120.084|
+---------------------+-------------+----------+---------------+---------+--------------+---------+---------+------------+-----------+-----------------+-----------------+-----------------+-----------------+-------------+----------------+------------+----------------+-------------+------------------+----------+-------------+-----------+-------------------+-----------------+------------------+---------------+-----------------+---------------+----------------+--------------+------------------+----------------+------------+--------------------+-----------------------+
only showing top 20 rows

SyntaxError: ignored